<div class="container main" id="collections">
  <div class="content">
    <h1>Courses</h1>
    <button class="addNew btn btn-primary">Add New</button>
    <button class="sortById btn btn-default">Sort By Id</button>
    <button class="sortByTitle btn btn-default">Sort By Title</button>
    <button class="sortByCourseType btn btn-default">Sort By Course Type</button>
    <button class="filterByCourseType btn btn-default">Filter By Course Type</button>
    <ul class="courses">
      <% _.each( models, function( model ){ %>
      <li class="course">
        <%- model.attributes.title %>
        <br/> <strong>Type:</strong> <%- model.attributes.courseType %>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
