<div class="container main">
  <div class="content">
    <form action="#">
      <div class="form-group">
        <input class="form-control" placeholder="title" type="text" id="title" value="<%- title %>" /><span class="help-inline"></span>
        <select id="courseType" class="form-control">
          <option value="video">video</option>
          <option value="WBT">WBT</option>
          <option value="instructor led">instructor led</option>
        </select>
        <input class="form-control" placeholder="description" type="text" id="description" value="<%- description %>" /><span class="help-inline"></span>
      </div>
      <button class="save btn btn-primary">Save</button>
      <button class="cancel btn btn-info">Cancel</button>
      <div id="added"></div>
    </form>
  </div>
</div>
