<style type="text/css">
.main {
  margin: auto;
  max-width: 980px;
}
input {
  margin: 0 0 1em 0;
}
</style>
<section id="instructor">
  <div class="main container">
    <form action="#">
      <input class="textfield" id="firstName" value="<%- firstName %>" /><span class="help-inline"></span><br/>
      <input class="textfield" id="lastName" value="<%- lastName %>" /><span class="help-inline"></span><br/>
      <input class="textfield" id="skills" value="<%- skills %>" /><span class="help-inline"></span><br/>
      <button class="save">Save</button>
      <button class="cancel">Cancel</button>
    </form>
  </div>
</section>
