<div class="container main">
  <div class="content">
    <form action="#">
      <div class="form-group">
        <input class="form-control" placeholder="firstName" type="text" id="firstName" value="<%- firstName %>" /><span class="help-inline"></span>
        <input class="form-control" placeholder="lastName" type="text" id="lastName" value="<%- lastName %>" /><span class="help-inline"></span>
        <input class="form-control" placeholder="skills" type="text" id="skills" value="<%- skills %>" /><span class="help-inline"></span>
      </div>
      <button class="save btn btn-primary">Save</button>
      <button class="cancel btn btn-info">Cancel</button>
      <div id="added"></div>
    </form>
  </div>
</div>
