<div class="container">
  <h3>Learning Resources</h3>
  <div class="table-responsive">
    <table class="lrs-tbl table table-bordered">
      <tr class="lrs-tbl-header">
        <!-- <th class="lrs-tbl-h-n">#</th> -->
        <th class="lrs-tbl-h-t"><a class="sortByTitle">Title</a></th>
        <th class="lrs-tbl-h-rt"><a class="sortByResourceType">Type</a></th>
        <th class="lrs-tbl-h-a"><a class="sortByAuthors">Authors</th>
        <th class="lrs-tbl-h-d"><a class="sortByDescription">Description</th>
      </tr>
      <% _.each( models, function( model ){ %>
      <tr>
        <!-- <td></td> -->
        <td><%- model.attributes.title %></td>
        <td><%- model.attributes.resourceType %></td>
        <td><%- model.attributes.authors %></td>
        <td><%- model.attributes.description %></td>
      </tr>
      <% }); %>
    </table>
  </div>
</div>
