body {
}
hr {
	margin: 1em 0 2em;
}
#maincontent {
	padding-top: 50px;
}
.row {
	padding: 0 0 2em;
}
footer {
	padding: 1em 0 4em;
	overflow: hidden;
}
footer ul {
	list-style: none;
	padding-left: 0;
}